body {
	font-family: var(--font-sans);
	background-color: var(--gray-8);
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 40px;
	background-color: var(--gray-9);
}

section {
	display: flex;
	flex-direction: row;
	padding: 20px;
	gap: 4em;
	justify-content: center;
}
.paragraphs, .paragraphs span {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.paragraphs a, ul li {
	text-decoration: underline;
	color: var(--grape-6);
}
.paragraphs a:hover, ul li:hover {
	color: var(--grape-3);
}
.accent {
	color: var(--grape-6);
}
.accent-d {
	color: var(--grape-9);
}
.double {
	position: relative;
}
.double::after {
	content: attr(data-letter);
	position: absolute;
	left: 0;
	color: var(--gray-5);
	-webkit-text-stroke: 1px var(--gray-5);
	opacity: 1;
	display: inline-block;
	user-select: text;
	transition: opacity 0.2s ease-out;
}
h1:hover > .double::after {
	opacity: 0;
}
.profile {
	width: var(--size-13);
	margin-bottom: auto;
	border-radius: var(--radius-blob-2);
	box-shadow: var(--shadow-4);
	filter: hue-rotate(15deg) saturate(110%);
}

.small-nav ul{
	display:flex;
	list-style-type: none;
	padding: 0;
	margin:0;
	font-size:1.5rem;
	text-transform:capitalize;
}
p a{
	display:inline-block;
}
span p{
	width:100%;
}
.shaded
{ 
	padding:15px 20px;
	background-color: var(--gray-9);}
@media screen and (max-width: 992px) {
	section {
		flex-direction: column;
		align-items: center;
		gap:1em;
	}
	.small-nav ul{
		flex-direction: column;
	}
  }
